@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "consola";
  src: url("/fonts/consola.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
} */